﻿.btn-primary {
    color: #fff;
    background-color: #242433;
    border: 1px solid #8338EC;
}

.btn-primary:hover {
    background-color: #8338EC;
    border: 1px solid #8338EC;
}

.btn-submit {
    color: #fff;
    background-color: #242433;
    border: 1px solid #5BCE00;
}

.btn-submit:hover {
    background-color: #5BCE00;
    color: #fff;
}

.btn-blue {
    color: #fff;
    background-color: #242433;
    border: 1px solid #3A86FF;
}

.btn-blue:hover {
    background-color: #3A86FF;
    color: #fff;
}

.btn-orange {
    color: #fff;
    background-color: #242433;
    border: 1px solid #FB5607;
}

.btn-orange:hover {
    background-color: #FB5607;
    color: #fff;
}

.btn-winter-sky {
    color: #fff;
    background-color: #242433;
    border: 1px solid #FF006E;
}

.btn-winter-sky:hover {
    background-color: #FF006E;
    color: #fff;
}

.btn-footer {
    color: rgba(255, 255, 255, 0.5);
}

.btn-footer:hover {
    color: #8338EC;
}