html {
  --navbar-color: #111821;
  --background-transparent: rgba(12, 91, 236, 0.8);
  --grs-grey-1000: #161F2C;
  --grs-grey-900: #242C39;
  --grs-grey-800: #414957;
  --grs-grey-700: #5D6572;
  --grs-grey-600: #6F7784;
  --grs-grey-500: #939BA9;
  --grs-grey-400: #AFB7C4;
  --grs-grey-300: #CED6E3;
  --grs-grey-200: #DAE2F0;
  --grs-grey-100: #E0E9F6;
  --grs-grey-50: #E5EDFB;
  --mango: #FFBE0B;
  --orange: #FB5607;
  --winter-sky: #FF006E;
  --blue-violet: #8338EC;
  --azure: #3A86FF;
  font-size: 14px;
}

.grs-grey-1000 {
  color: var(--grs-grey-1000);
}

.grs-grey-900 {
  color: var(--grs-grey-900);
}

.grs-grey-800 {
  color: var(--grs-grey-800);
}

.grs-grey-700 {
  color: var(--grs-grey-700);
}

.cool-grey-600 {
  color: var(--grs-grey-600);
}

.grs-grey-500 {
  color: var(--grs-grey-500);
}

.grs-grey-400 {
  color: var(--grs-grey-400);
}

.grs-grey-300 {
  color: var(--grs-grey-300);
}

.grs-grey-200 {
  color: var(--grs-grey-200);
}

.grs-grey-100 {
  color: var(--grs-grey-100);
}

.grs-grey-50 {
  color: var(--grs-grey-50);
}

.mango {
  color: var(--mango);
}

.orange {
  color: var(--orange);
}

.winter-sky {
  color: var(--winter-sky);
}

.blue-violet {
  color: var(--blue-violet);
}

.azure {
  color: var(--azure);
}